/* .card {
	height: 490px;
} */

.card .card-content .card-title {
	height: 96px;
}

.card_text {
    height: 106px;
}

.card_foo.post-blog-update {
    height: 16px;
}

.categorias li{
	font-size: 14px;
}

.show-992{
	display: none;
}

.uptext {
    color: #585858 !important;
}

.uptextregular {
	color: #595858 !important;
}

.card .card-content p, .card .card-content div {
    margin: 0px 0px 10px 0px;
    color: #595858 !important;
    line-height: 24px;
    font-family: "updateregular";
}

.card .card-content ul li {
    color: #595858 !important;
    font-family: "updateregular";
    line-height: 24px;
    list-style-type: square;
}

.card .card-content ol li {
    color: #595858 !important;
    font-family: "updateregular";
    line-height: 24px;
}

.text-titulo-blog{
	font-size: 72px;
    margin-top: 90px;
}

.card-content img {
    max-width: 100% !important;
}

.card .card-content a {
	color: #52bcbd;
}

.card .card-content a:hover{
	color: #26a599;
}

.card .card-content ul:not(.browser-default) {
	padding-left: 15px;
}

.card .card-content a.waves-effect.waves-light.btn {
    color: #fff;
}

a {
    color: #52bcbd;
}

a:hover {
	color: #26a599;
}

@media only screen and (max-width:1200px){
	.card .card-content .card-title {
		height: 96px;
	}
	.card_text {
	    height: 146px;
	}
	.card_foo.post-blog-update {
    	padding-bottom: 10px;
    	height: 16px;
	}
	.show-992{
		display: none;
	}
}

@media only screen and (max-width:992px){
	.card .card-content .card-title {
		height: auto;
	}
	.card_text {
	    height: auto;
	}
	.regular{
		text-align: center;
	}
	ul.categorias {
    	text-align: center !important;
	}
	.tags-lista {
    	text-align: center;
	}
	.spacelist {
    	display: inline-block !important;
    	padding-right: 10px !important;
	}
	.show-992{
		display: none;
	}
}

@media only screen and (max-width:600px){
	.card .card-content .card-title {
		height: auto;
	}
	.text-titulo-blog{
		font-size: 62px;
    	margin-top: 50px;
	}
	.card_text {
	    height: auto;
	}
	.hide-992{
		display: none;
	}
	.show-992{
		display: block;
	}
}
