/* .card {
	height: 490px;
} */

.card .card-content .card-title {
	height: 64px;
}

.card_text {
    height: 106px;
}

.card_foo.post-blog-update {
    height: 16px;
}

.categorias li{
	font-size: 14px;
}

.categorias li a{
	color: #52bcbd;
}

.categorias li a:hover{
	color: #26a599;
}

.show-992{
	display: none;
}

.card .card-content p {
	margin: 0px 0px 10px 0px;
}

.text-titulo-blog{
	font-size: 72px;
    margin-top: 90px;
}

@media only screen and (max-width:1200px){
	.card .card-content .card-title {
		height: 64px;
	}
	.card_text {
	    height: 146px;
	}
	.card_foo.post-blog-update {
    	padding-bottom: 10px;
    	height: 16px;
	}
	.show-992{
		display: none;
	}
}

@media only screen and (max-width:992px){
	.card .card-content .card-title {
		height: auto;
	}

	.card_text {
	    height: auto;
	}

	.regular{
		text-align: center;
	}
	ul.categorias {
    	text-align: center !important;
	}
	.tags-lista {
    	text-align: center;
	}
	.spacelist {
    	display: inline-block !important;
    	padding-right: 10px !important;
	}
	.show-992{
		display: none;
	}

}

@media only screen and (max-width:600px){
	.card .card-content .card-title {
		height: auto;
	}
	.text-titulo-blog{
		font-size: 62px;
    	margin-top: 50px;
	}
	.card_text {
	    height: auto;
	}
	.hide-992{
		display: none;
	}
	.show-992{
		display: block;
	}
}