@media only screen and (min-width: 500px) {

/* estas es la version que se vera en moviles*/  

.responform {
  display: none;   !important;
 }
}

@media only screen and (max-width: 499px) {
.responform2 {
  display: none;   !important;
 }
}


.c-test {
  position: absolute: ;
  width: 300px;
  height: 300px;
  margin-left: 30px;
  margin: 0 auto;
  /*
  display: flex;
  */
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

  .rotar{
    position: absolute;
    color: #c9caca;
    opacity: 0.2;
    font-size: 150px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
    margin-top: 149px;
    margin-left: -340px;
    
}


  .ba-slider {
      position: relative;
      overflow: hidden;
  }

  .ba-slider img {
      width: 100%;
      display:block;
  }

  .resize {
      position: absolute;
      top:0;
      left: 0;
      height: 100%;
      width: 50%;
      overflow: hidden;
  }


  .handle { /* Thin line seperator */
    position:absolute; 
    left:50%;
    top:0;
    bottom:0;
    width:4px;
    margin-left:0px;

    background: rgb(82, 188, 189);
    cursor: ew-resize;
  }

  .handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 63px;
    margin: -30px 0px 0 -30px;
    content: '\21d4';
    color: #52bcbd;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    line-height: 63px;
    background: #ffb80000;
    border: 1px solid #52bcbd;
    border-radius: 50%;
    transition: all 0.3s ease;
    /* box-shadow: 0 2px 6px rgba(0,0,0,.3), inset 0 2px 0 rgba(255,255,255,.5), inset 0 60px 50px -30px #ffd466; */
  }

  .draggable:after {
      width: 48px;
      height: 48px;
      margin: -24px 0 0 -24px;
      line-height:48px;
      font-size:30px;
  }






.updateservices{
      margin: 51px -10px 30px;

}

.fa-5x2{
  font-size: 12rem;
}

.titlesmoviles{
    font-size: 40px;
    color: #56bfc0;
    letter-spacing: 15px;
    padding-left: 10px;

}