html {
    overflow-x: hidden;
}
.logo-arrow {
    position: absolute;
    left: 20px;
    color: transparent;
    transition: 0.3s;
    top: calc(50% - 7px);
    padding: 10px;
}
.logo-arrow:after {
     content: '';
     position: absolute;
     border: 2px solid #0275d8;
     border-width: 0 2px 2px 0;
     display: inline-block;
     padding: 0;
     height: 13px;
     width: 13px;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
    animation: changeColor 8s linear 2s infinite alternate;
 }
.logo-arrow:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 25px;
    background: #222;
    top: 0;
    left: 15.5px;
    animation: changePosition 2s linear 2s infinite alternate;
}
nav {
    border-bottom: 1px solid rgba(0,0,0,.08);
}
#vertical,
#horizontal {
    padding: 50px 0;
    scroll-behavior: smooth;
}
#vertical .jumbotron {
    text-shadow: 0 1px 1px #000;

}




.jumbotron {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.jumbotron:hover{

-webkit-filter: grayscale(1%); /* Safari 6.0 - 9.0 */
    filter: grayscale(1%);

}


#horizontal .jumbotron {
    text-shadow: 0 1px 1px #000;
    height: 650px;
    padding-top: 5rem;
}
@keyframes changeColor {
    0%   {border-color: #5bc0de;}
    50%  {border-color: #d9534f;}
    100% {border-color: #0275d8;}
}
@keyframes changePosition {
    0%   {transform: translateY(-10px);}
    50%  {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}

.addcard{
    background-color: #111;
    opacity: 0.6;
    color: #fff;
    margin-right: 5rem;
    margin-top: 0px;

    margin-left: 4rem;
    padding: 7px 20px 20px 20px;

}

.fiximg{.
    position: fixed;
    position: absolute;
    left: 0px;
    top: -3px;
    width: 13rem;
    height: 5rem;
    z-index: 99999999999;
}




@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
.progress1 {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
  margin: -3px 17px -26px;
}
.progress1 > li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93A2AC;
  font-family: Lato;
  font-weight: 100;
  margin: 2rem;
}
.progress1 > li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}
.progress1 > li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 3.7rem;
  left: 0;
  font-size: 2rem;
  text-align: center;
}
.progress1 svg {
  width: 10rem;
  height: 10rem;
}
.progress1 svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.progress1 svg:nth-child(2) path {
  fill: none;
  stroke-width: 6px;
  stroke-dasharray: 629;
  stroke: #fff;
  opacity: .9;
  -webkit-animation: load 10s;
          animation: load 10s;
}




.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #50BDC3;
  width: 0%;
}
.headere {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}





.content {
  position: relative;
  width: 105%;
  margin: 0 auto;
  height: auto;
}
.content video {
  width: 100%;
  display: block;
  height: auto;
}
.content:before {
  content: '';
  position: absolute;
  background: rgba(80, 189, 190, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} 

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
/*footer*/
.text_foot{
  font-size: 12px;
}

.social{
    display: inline-block;
    vertical-align: top;
    height: 37px;
    width: 37px;
    line-height: 33px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    color: #2cb8c7;
    float: center;
    margin-top: 4px;
    background-color: black;
}


.social:hover{
    display: inline-block;
    vertical-align: top;
    height: 37px;
    width: 37px;
    line-height: 33px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    color: white;
    float: center;
    margin-top: 4px;
    background-color: #2cb8c7;
}
.img_foo{
  padding: 15px;
}
.respon_vide{
  width: 105%;
  height: 66%;
}

.text_banner{
  position: absolute;
  padding-top: 25%;
  text-align: center;
  float: center;
}