html {
    overflow-x: hidden;
}
.logo-arrow {
    position: absolute;
    left: 20px;
    color: transparent;
    transition: 0.3s;
    top: calc(50% - 7px);
    padding: 10px;
}
.logo-arrow:after {
     content: '';
     position: absolute;
     border: 2px solid #0275d8;
     border-width: 0 2px 2px 0;
     display: inline-block;
     padding: 0;
     height: 13px;
     width: 13px;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
    animation: changeColor 8s linear 2s infinite alternate;
 }
.logo-arrow:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 25px;
    background: #222;
    top: 0;
    left: 15.5px;
    animation: changePosition 2s linear 2s infinite alternate;
}
nav {
    border-bottom: 1px solid rgba(0,0,0,.08);
}
#vertical,
#horizontal {
    padding: 0px 0;
    scroll-behavior: smooth;
}
#vertical .jumbotron {
    text-shadow: 0 1px 1px #000;

}




.jumbotron {
    -webkit-filter: grayscale(100%); 
}
.jumbotron:hover{
    -webkit-filter: grayscale(1%); 
    filter: grayscale(1%);


}


#horizontal .jumbotron {
   /* text-shadow: 0 1px 1px #000; 
    height: 660px;
    padding-top: 5rem; 
    padding: 19vh 10vh;*/
    padding: 15%;
}
@keyframes changeColor {
    0%   {border-color: #5bc0de;}
    50%  {border-color: #d9534f;}
    100% {border-color: #0275d8;}
}
@keyframes changePosition {
    0%   {transform: translateY(-10px);}
    50%  {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}

.addcard{
    background-color: #1a5a5a99;
    /*    opacity: 0.6;*/
    color: #fff;
    margin-right: 5rem;
    margin-top: 0px;
    margin-left: 4rem;
    padding: 7px 20px 20px 20px;
}

.fiximg{.
    position: fixed;
    position: absolute;
    left: 0px;
    top: -3px;
    width: 13rem;
    height: 5rem;
    z-index: 99999999999;
}




@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
.progress1 {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
  margin: -3px 17px -26px;
}
.progress1 > li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93A2AC;
  font-family: Lato;
  font-weight: 100;
  margin: 2rem;
}
.progress1 > li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}
.progress1 > li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 3.7rem;
  left: 0;
  font-size: 2rem;
  text-align: center;
}
.progress1 svg {
  width: 10rem;
  height: 10rem;
}
.progress1 svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.progress1 svg:nth-child(2) path {
  fill: none;
  stroke-width: 6px;
  stroke-dasharray: 629;
  stroke: #fff;
  opacity: .9;
  -webkit-animation: load 10s;
          animation: load 10s;
}




.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #50BDC3;
  width: 0%;
}
.headere {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}





.content {
  position: relative;
  width: 105%;
  margin: 0 auto;
  height: auto;
}
.content video {
  width: 100%;
  display: block;
  height: auto;
}
.content:before {
  content: '';
  position: absolute;
  background: rgba(80, 189, 190, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} 

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
/*footer*/
.text_foot{
  font-size: 12px;
}

.social{
    display: inline-block;
    vertical-align: top;
    height: 37px;
    width: 37px;
    line-height: 33px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    color: #2cb8c7;
    float: center;
    margin-top: 4px;
    background-color: black;
}


.social:hover{
    display: inline-block;
    vertical-align: top;
    height: 37px;
    width: 37px;
    line-height: 33px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    color: white;
    float: center;
    margin-top: 4px;
    background-color: #2cb8c7;
}
.img_foo{
  padding: 15px;
}


/*Banner Home*/


@font-face {
    font-family: "update";
    src: url('../rimouski.ttf') format("opentype");
}

.uptext {
    color: #fff;
    font-family: "update";
    font-size:42px;
}


.sliders{
  width: 100%;
  height: 650px;
  padding-top: -4px;
  margin-top: -30px;
}

.info_txt{
  background-color:white;
  margin: 0px 0px 0px;
  padding: 36px 10px 36px;

}
.title_bn{
 font-size: 90px;
 color: black;
 /* background: -webkit-linear-gradient(#E31E5E, #50bdbe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-size: 100px;
 font-weight: 900;
 margin: 40px;
 text-align: center;

}
.subtitle_bn{
 font-size: 30px;
 letter-spacing: 8px;
 color: #5a5a5a;
 /* background: -webkit-linear-gradient(#E31E5E, #50bdbe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-weight: 100;
  margin: 40px;
}


.line{
border-style: solid;
border-color: #50bdbe;
border-width: 5px;
margin:12%;
padding: 10px;
}



@media only screen and (max-width: 600px) {

.title_bn{
 font-size: 80px;
 color: black;
 /* background: -webkit-linear-gradient(#E31E5E, #50bdbe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-weight: 900;
  margin: 0px;
  text-align: center;

}
.subtitle_bn{
 font-size: 10px;
 letter-spacing: 8px;
 color: white;
 /* background: -webkit-linear-gradient(#E31E5E, #50bdbe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-weight: 100;
  margin: 20px;

}
   
}

.maq_wri{
      color: #fff;
    font-family: "update";
    font-size: 50px;
}
.gris{
  color: #595858;
}

.updateregular{
    color: #595858;
    font-family: "update";
    font-size: 24px;
  }

.item_img{
    transition: transform .2s; /* Animation */
    width: 100px;
    height: 100px;
}

.item_img:hover{
  transform: scale(1.5);
  width: 110px;
  height: 110px;
}

.item_title{
    margin-top: 60px;
    margin-bottom: 80px;
    color: #808080;
    font-size: 36px;
}
.item_info{
 font-size: 21px;
 color: #53b6ba;
 font-weight: 900;
 margin: 10px;
 letter-spacing: 2px;
 text-align: center;
}

@font-face {
    font-family: "updateregular";
    src: url('../rimouskiregular.ttf') format("opentype");
}

.uptextregular {
    color: #595858;
    font-family: "updateregular";
    font-size: 24px;
}

/*************************/

.bg_verde {
    background-color: #53bcbd;
    text-align: center;
    color: white;
}
.sd_sut2 {
    font-family: "update";
    font-size: 30px;
    color: #787878;
    font-weight: 900;
}
.sd_sut3 {
    font-family: "updateregular";
    font-size: 25px;
    color: #fff;
    font-weight: 900;
    margin: 0;
}
.sd_sut4 {
    font-family: "updateregular";
    font-size: 16px;
    color: #fff;
    font-weight: 100;
}

.bg_grey {
    background-color: #343438;
    color: white;
    text-align: center;
}
.sd_suti_info2 {
    font-family: "updateregular";
    font-size: 40px;
    color: #53b6ba;
    font-weight: 900;
}
.bg_info {
    background-color: #dff2f2;
}
.bg_contac {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
}
.ubicatex {
    margin-bottom: 0px;
    margin-top: -4px;
}



/*===========================================

GALERIA WEBS

===========================*/


#portfolio {
    margin: 10px 50px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}

@media screen and (min-width: 1441px) {
   #portfolio {
    margin: 10px 60px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
}}

@media screen and (max-width: 1025px) {
   #portfolio {
    margin: 10px 60px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
}}


@media screen and (max-width: 550px) {
   #portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 1; 
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
}}

.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.tile:hover { 
}

.scale-anm {
  transform: scale(1);
}

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;  
}

 /*----------- galery-----*/





.capa {
  position: relative;
  width: 100%;
}

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .capa:hover .overlay {
    height: 100%;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }









/*
.webs {
  position: relative;
  width: 100%;
}

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #008CBA50;
    overflow: hidden;
    width: 103%;
    height: 0;
    transition: .5s cubic-bezier(0.03, 0.05, 0.38, 0.93);
  }

  .webs:hover .overlay {
    height: 98%;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }*/