.isocolor{
     background-color:rgb(254, 105, 42);
  }
 .idrcolor{
     background-color: rgb(16, 109, 186);
  }
.sanuscolor{
	background-color: #50bdbe;
}
.frelatocolor{
    background-color: #ff135b;
}
.autoconlor{
    background-color: #34b2f2;
}
.yuntacolor{
    background-color: #6b1f1b;
}
/*footer*/
.text_foot{
  font-size: 12px;
}

.social{
    display: inline-block;
    vertical-align: top;
    height: 37px;
    width: 37px;
    line-height: 33px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    color: #2cb8c7;
    float: center;
    margin-top: 4px;
    background-color: black;
}


.social:hover{
    display: inline-block;
    vertical-align: top;
    height: 37px;
    width: 37px;
    line-height: 33px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    color: white;
    float: center;
    margin-top: 4px;
    background-color: #2cb8c7;
}
.img_foo{
  padding: 15px;
}


.justi{
    text-align: justify;
}

/**ContactoStyle**/
.bg_contac{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
}

.bg_info{
  background-color: #52bcbd30;
}

.bg_grey{
    background-color: #343438; 
    color: white;
    text-align: center;
}
.ubicatex {
    margin-bottom: 0px;
    margin-top: -3px;
}
.sd_suti_info2 {
    font-family: "updateregular";
    font-size: 40px;
    color: #53b6ba;
    font-weight: 900;
}
.sd_sut4 {
    font-family: "updateregular";
    font-size: 16px;
    color: #fff;
    font-weight: 100;
}

.bg_verde{
    background-color: #53bcbd;
    text-align: center;
    color: white;
}
.sd_sut2 {
    font-family: "update";
    font-size: 30px;
    color: #787878;
    font-weight: 900;
}
.sd_sut3 {
    font-family: "updateregular";
    font-size: 25px;
    color: #fff;
    font-weight: 900;
    margin: 0;
}
.sd_sut4 {
    font-family: "updateregular";
    font-size: 16px;
    color: #fff;
    font-weight: 100;
}