.spacelist{
	padding-bottom: 5px;
}

.piclist{
	margin: -15px 5px 5px;
}

.bannerblog{
	font-size: 72px;
	padding-top: 100px;
	z-index: 99999;

}

.puntoblog{
	color: #50bdbe;
	background-color: #50bdbe;

}
