/*GLOBALES*/
.spacelist{
	padding-bottom: 5px;
	font-size: 12px;
}

.piclist{
	margin: -15px 5px 5px;
}



.puntoblog{
	color: #50bdbe;
	background-color: #50bdbe;

}


@font-face {
    font-family: "update";
    src: url('../rimouski.ttf') format("opentype");
}

.uptext {
    color: #585858;
    font-family: "update";
}
 /*BANNER*/
 .bg_banner{


 }